<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur</title>


    <style>

        body {
            margin:0;
            color: white;
        }

        table { 
            border-spacing: 0px;

        }

        td {
            padding:0px;
            width:100%;
            
        }

        img {
            border: 0px;

        }

        .wrapper {
            width: 100% !important;
            table-layout: fixed;

        }
        .main {
            width:100%;
            max-width: 600px;
            border-spacing: 0;
            padding-left:60px;
            padding-right :40px;
            padding-top:40px;
            font-size: 0;
        }

        .two-column {
            width: 100% !important;
            border-spacing: 0;
            text-align: center;

        }
        .column {
            width: 100% !important;
            max-width: 300px !important;
            text-align: center;
            vertical-align: top; 

        }
        .one-column {
            width:100%;
            border-spacing:0;
            text-align:center;
            max-width:600px;
            
        }
       

        button {
            display: inline-block;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            padding: 2px 16px;
            height: 32px;
            min-width: 60px;
            min-height: 32px;
            border: none;
            color: #fff;
            background-color: black;
            width:auto;
            max-width:300px ;
            text-align:center;
                            
            }
                
        


    </style>



</head>
<body>

    <center class="wrapper">
        <table class="main">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td> <a href="#"> <img src="/assets/AAI logo.jpg" alt="" width="81px" height="47px"></a></td>
                                        <td style="padding-left: 130px;"> <p style="color: #A34DDE; font-size: 25px; text-align:center; height:10px; width:auto"> WEEKLY DIGEST</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>


            <!-- Sales -->
            

            <tr>
                <td>
                    <table>
                        <h5 style="color: #0D2137; font-size:33px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px;">sales</h5>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; ">Ongoing sales</p>
                                           

                                            <p style="height:12px; width:40px; font-size:12px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;">For sale</p>  <img src="/assets/first.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">
                                        Soleil Jaune</p> 
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">MAX ERNST</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                            <p style="height:12px; width:40px; font-size:12px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;">For bid</p>  <img src="/assets/second.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:40px; font-size:12px; text-align: left; color: #0D2137; ">Marilyn</p>
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">ANDY WARHOL</p>
                                          
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                
                                </table> <hr>
                            </td>
                       </tr> 



                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; ">Past Sales</p>
                                           

                                            <p style="height:12px; width:40px; font-size:12px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;">sold</p>  <img src="/assets/third.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">
                                        Mohammed Ali</p> 
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">ANDY WARHOL</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                            <p style="height:12px; width:40px; font-size:12px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;">withdrawn</p>  <img src="/assets/fourth.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">Queen Beatrix, from: Reigning Queens</p>
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">ANDY WARHOL</p>
                                        
                                        
                                        
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>



















                    </table>
                </td>
            </tr>


             <!-- Events -->
            

             <tr>
                <td>
                    <table>
                        <h5 style="color: #0D2137; font-size:33px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px;">Events</h5>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; ">Events near me</p>
                                           

                                            <img src="/assets/fifth.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">
                                                <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">Roni Horn</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Apr 04, 2024 - Jun 28, 2024</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">Hauser & Wirth, New York City, United States</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                        <img src="/assets/sixth.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; padding-top:20px">Verena Loewensberg: Kind of Blue</p>
                                        
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Apr 04, 2024 - Jun 28, 2024</p> 
                                         <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">Hauser & Wirth, New York City, United States</p> 
                                          
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                
                                </table> <hr>
                            </td>
                       </tr> 



                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE;  font-weight: bold;">Upcoming Events</p>
                                           

                                            <img src="/assets/seventh.jpg" alt="" width="224px" height="200px">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">Mark Rothko</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">AFeb 22, 2024 - Apr 06, 2024</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">Palm Springs Art Museum, Palm Springs, CA</p> 
                                        </td>


                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                        <img src="/assets/eight.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">Palm Springs Art Museum, Palm Springs, CA</p>
                                        
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Feb 22, 2024 - Apr 06, 2024</p> 
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">David Zwirner, New York City</p>  
                                        
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>


















                    </table>
                </td>
            </tr>




           <!--  News -->

            <tr>
            <td>
                <table>
                    <h5 style="color: #0D2137; font-size:33px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px;">News</h5>
                    <tr>
                        <td class="two-column">
                            <table class="column" width="100%">
                                <tr>
                                    <td>
                                         <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; ">Top news</p>
                                       

                                        <img src="/assets/nine.jpg" alt="" width="224px" height="200px">
                                        <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137;text-transform: capitalize; text-align: left; font-weight: bolder;">Collector Francesco Pellizzi’s Rare Basquiats Head to Auction for the First Time</P>
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #346BEB; font-weight: normal; ">Observer | Alexandra Tremayne-Pengelly</p> 
                                    </td>



                                    <td style="padding-left: 35px; padding-top:15px;">
                                        <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                        
                                    <img src="/assets/tenth.jpg" alt="" width="224px" height="200px">
                                    <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137; text-align:left; text-transform: capitalize; font-weight:bold;">CNicole Eisenman’s First Major Survey Comes to the Museum of Contemporary Art Chicago</P>


                                     <p style="height:10px; width:auto; font-size:9px; text-align: left; color:#346BEB; font-weight: normal;">Hyperallergic |Museum of Contemporary Art Chicago</p> 
                                      
                                    
                                    
                                    </td>
                                    
                                </tr>
                            
                            </table> 
                        </td>
                   </tr> 



                    


















                </table>
            </td>
            </tr>

        </table>
        <div style="padding-top:20px;">
            <button  >Visit our website</button>

        </div>
        <br><br><br><br><br><hr>

        
        

    </center>
    




    
</body>
</html>