<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Arthur</title>


    <style>

        body {
            margin:0;
            color: white;
        }

        table { 
            border-spacing: 0px;

        }

        td {
            padding:0px;
            width:100%;
            
        }

        img {
            border: 0px;

        }

        .wrapper {
            width: 100% !important;
            table-layout: fixed;

        }
        .main {
            width:100%;
            max-width: 600px;
            border-spacing: 0;
            padding-left:60px;
            padding-right :40px;
            padding-top:40px;
            font-size: 0;
        }

        .two-column {
            width: 100% !important;
            border-spacing: 0;
            text-align: center;

        }
        .column {
            width: 100% !important;
            max-width: 300px !important;
            text-align: center;
            vertical-align: top; 

        }
        .one-column {
            width:100%;
            border-spacing:0;
            text-align:center;
            max-width:600px;
            
        }
       

        button {
            display: inline-block;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            padding: 2px 16px;
            height: 32px;
            min-width: 60px;
            min-height: 32px;
            border: none;
            color: #fff;
            background-color: black;
            width:auto;
            max-width:600px ;
            text-align:center;
            }

            .footer {
            padding-left:60px;
            padding-right :40px;
            padding-top:40px;

            }
            
            .logo{
                padding:10px;
                text-align: right;
                max-width: 300px;
}
                
        


    </style>



</head>
<body>

    <center class="wrapper">
        <table class="main">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td> <a href="#"> <img src="/arthur-email-templates-analytics/src/assets/AAI logo.jpg" alt="" width="81px" height="47px"></a></td>
                                        <td style="padding-left: 80px;"> <p style="color: #A34DDE; font-size: 33px; text-align:right; height:40px; width:190px !important;  padding-right:0px !important;
                                        font-family: 'Inter', sans-serif; font-weight:bold;"> WEEKLY DIGEST</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>


            <!-- Sales -->
            

            <tr >
                <td>
                    <table>
                        <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">sales</h5>
                        <tr >
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-bottom: 18px;">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:11px; text-align: left; color: #A34DDE;  font-family: 'Inter', sans-serif; font-weight: bold; ">Ongoing sales</p>
                                           

                                            <p style="height:12px; width:35px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;
                                             font-family: 'Inter', sans-serif; font-weight:500;
                                            
                                            ">For sale</p>  <img src="/arthur-email-templates-analytics/src/assets/first.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">
                                        Soleil Jaune <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:175px;">€ 820,000</span> </p> 
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;">MAX ERNST </p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                            <p style="height:12px; width:30px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">For bid</p>  <img src="/arthur-email-templates-analytics/src/assets/second.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:40px; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;" >Marilyn <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:175px;">$2,50,000</span></p>
                                        
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;">ANDY WARHOL  </p>
                                        
                                        </td>
                                        
                                    </tr>
                                
                                </table> <br> <hr>
                            </td>
                       </tr> 



                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-top:8px;">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold;">Past Sales</p>
                                           

                                            <p style="height:12px; width:21px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">Sold</p>  <img src="/arthur-email-templates-analytics/src/assets/third.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">
                                        Mohammed Ali <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:60px;">£180,000 - £250,000</span></p> 
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">ANDY WARHOL</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                            <p style="height:12px; width:45px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">Withdrawn</p>  <img src="/arthur-email-templates-analytics/src/assets/fourth.jpg" alt="" width="224px" height="200px">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:500; font-size: 9px;">Queen Beatrix, from: Reigning Queens</p>
                                        <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;"> ANDY WARHOL <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:57px;">£180,000 - £250,000</span></p>
                                        
                                        
                                        
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>



















                    </table>
                </td>
            </tr>


             <!-- Events -->
            

             <tr>
                <td>
                    <table >
                        <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">Events</h5>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-bottom:10px;">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold; ">Events near me</p>
                                           

                                            <img src="/arthur-email-templates-analytics/src/assets/fifth.jpg" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">
                                                <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">Roni Horn</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Apr 04, 2024 - Jun 28, 2024</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 500;">Hauser & Wirth, New York City, United States</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px;   font-family: 'Inter', sans-serif; font-weight:500; font-size: 9px;">know more</a>
                                            
                                        <img src="/arthur-email-templates-analytics/src/assets/sixth.jpg" alt="" width="224px" height="200px" style="padding-top:12px;">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; padding-top:20px; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;">Verena Loewensberg: Kind of Blue</p>
                                        
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Apr 04, 2024 - Jun 28, 2024</p> 
                                         <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 500;">Hauser & Wirth, New York City, United States</p> 
                                          
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                
                                </table> <hr>
                            </td>
                       </tr> 



                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-top:10px;">
                                    <tr>
                                        <td>
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE;  font-family: 'Inter', sans-serif; font-weight: bold;">Upcoming Events</p>
                                           

                                            <img src="/arthur-email-templates-analytics/src/assets/seventh.jpg" alt="" width="224px" height="200px">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">Mark Rothko</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">AFeb 22, 2024 - Apr 06, 2024</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; ">Palm Springs Art Museum, Palm Springs, CA</p> 
                                        </td>


                                        <td style="padding-left: 35px; padding-top:15px;">
                                            <a href="#"style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px;  ">know more</a>
                                            
                                        <img src="/arthur-email-templates-analytics/src/assets/eight.jpg" alt="" width="224px" height="200px" style="padding-top:10px">
                                        <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;  ">Palm Springs Art Museum, Palm Springs, CA</p>
                                        
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">Feb 22, 2024 - Apr 06, 2024</p> 
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">David Zwirner, New York City</p>  
                                        
                                        
                                        
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>


















                    </table>
                </td>
            </tr>




           <!--  News -->

            <tr>
            <td>
                <table>
                    <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">News</h5>
                    <tr>
                        <td class="two-column">
                            <table class="column" width="100%">
                                <tr>
                                    <td>
                                         <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold; ">Top news</p>
                                       

                                        <img src="/arthur-email-templates-analytics/src/assets/nine.jpg" alt="" width="224px" height="200px">
                                        <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137;text-transform: capitalize; text-align: left; font-family: 'Inter', sans-serif; font-weight: 500;">Collector Francesco Pellizzi’s Rare Basquiats Head to Auction for the First Time</P>
                                        <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #346BEB; font-family: 'Inter', sans-serif; font-weight: 600;">Observer <span style="padding:7px;">|  </span>Alexandra Tremayne-Pengelly</p> 
                                    </td>



                                    <td style="padding-left: 35px; padding-top:15px;">
                                        <a href="#"style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                        
                                    <img src="/arthur-email-templates-analytics/src/assets/tenth.jpg" alt="" width="224px" height="200px">
                                    <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137; text-align:left; text-transform: capitalize; font-family: 'Inter', sans-serif; font-weight: 500;">CNicole Eisenman’s First Major Survey Comes to the Museum of Contemporary Art Chicago</P>


                                     <p style="height:10px; width:auto; font-size:9px; text-align: left; color:#346BEB; font-family: 'Inter', sans-serif; font-weight: 600;">Hyperallergic <span style="padding:7px;">|  </span> Museum of Contemporary Art Chicago</p>            
                                    
                                    
                                    </td>
                                    
                                </tr>
                            
                            </table> 
                        </td>
                   </tr> 



                    


















                </table>
            </td>
            </tr>

        </table>


        <div style="padding-top: 28px; font-family: 'Inter', sans-serif; font-weight: 600; font-size: 10px; text-align: center;">
            <button >
                Visit our website
            </button>
        </div>
        

       






        
        

    </center>

  


   
<!-- Footer -->
<!-- Footer -->
<table width="100%" style="max-width: 600px; padding-top: 40px; padding-left: 60px; padding-right: 40px; margin: auto;" class="footer">
    <tr>
        <td style="text-align: left;">
            <p style="color: #0D2137; font-size: 12px; font-weight: bold;">ARTHUR ANALYTICS</p>
            <p style="color: #0D2137; font-size: 10px; font-weight: 400; color: #86909B;">640 5TH AVENUE, 22ND FLOOR, NEW YORK, NY 10019</p>
            <p style="color: #346BEB; font-size: 10px; font-weight: 500;"><a href="#" style="text-decoration: none; color: #346BEB;">Contact Us</a> | <a href="#" style="text-decoration: none; color: #346BEB;">Unsubscribe</a></p>
        </td>
        <td style="text-align: right;">
            <td class="logo" style="white-space: nowrap;"><p><img src="/arthur-email-templates-analytics/src/assets/instagram.jpg" alt="" style="width: 12px; height: 12px; margin-right: 2px;"></p></td>
            <td class="logo" style="white-space: nowrap;"><p><img src="/arthur-email-templates-analytics/src/assets/linkedin.jpg" alt="" style="width: 12px; height: 12px; margin-right: 2px;"></p></td>
            <td class="logo" style="white-space: nowrap;"><p><img src="/arthur-email-templates-analytics/src/assets/x.jpg" alt="" style="width: 12px; height: 12px; margin-right: 2px;"></p></td>
        </td>
    </tr>
</table>




    




    
</body>
</html>