<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Arthur</title>


    <style>

        body {
            margin:0;
            color: white;
        }

        table { 
            border-spacing: 0px;

        }

        td {
            padding:0px;
            width:100%;
            
        }

        img {
            border: 0px;

        }

        .wrapper {
            width: 100% !important;
            table-layout: fixed;

        }
        .main {
            width:100%;
            max-width: 600px;
            border-spacing: 0;
            padding-left:60px;
            padding-right :40px;
            padding-top:40px;
            font-size: 0;
        }

        .two-column {
            width: 100% !important;
            border-spacing: 0;
            text-align: center;

        }
        .column {
            width: 100% !important;
            max-width: 300px !important;
            text-align: center;
            vertical-align: top; 

        }
        .one-column {
            width:100%;
            border-spacing:0;
            text-align:center;
            max-width:600px;
            
        }
       

        button {
            display: inline-block;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            padding: 2px 16px;
            height: 32px;
            min-width: 60px;
            min-height: 32px;
            border: none;
            color: #fff;
            background-color: black;
            width:auto;
            max-width:300px ;
            text-align:center;
                            
            }

            .footer {
            padding-left:60px;
            padding-right :40px;
            padding-top:40px;

            }
            
            .logo{
                padding:8px;
                text-align: end;
   
}
                
        


    </style>



</head>
<body>

    <center class="wrapper">
        <table class="main">
            
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    <tr>
                                        <td> <a href="#"> <img src="/arthur-email-templates-analytics/src/assets/AAI logo.jpg" alt="" width="81px" height="47px"></a></td>
                                        
                                        <td style="padding-left: 80px; text-align: left;"> <p style="color: #A34DDE; font-size: 33px; text-align:right; height:40px; width:100% !important;  padding-right:0px !important;
                                        font-family: 'Inter', sans-serif; font-weight:bold; text-align: right;" > WEEKLY DIGEST</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>


            <!-- Sales -->
            
            
            <tr >

                <td>
                    <table>
                        <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">sales</h5>
   
                        <tr >
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-bottom: 18px;">
                                    {% for item in data.sales.ongoing_sales %}
                                    {% if loop.index % 2 == 1 %} <!-- checks if this row is even or odd, if it is odd it will start new row -->
                                    <tr>
                                    {% endif %}

                                        
                                        <td>
                                            {% if loop.first %}
                                           
                                             <p style="height:12px; width: auto; font-size:11px; text-align: left; color: #A34DDE;  font-family: 'Inter', sans-serif; font-weight: bold; ">Ongoing sales</p>         
                                       
                                            <p style="height:12px; width:35px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;
                                             font-family: 'Inter', sans-serif; font-weight:500;">For sale</p>

                                            {% endif %} 
                                            
                                           
                                            <img src="{{item.image}}" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; "> <!-- also here -->
                                            {{item.painting}} <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:175px;"> <!-- also here --> {{item.price}}</span></p> 
                                            <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;"><!-- also here -->{{item.name}} </p> 
                                        </td>


                                        <td style="padding-left: 35px; padding-top:15px;">
                                            {% if loop.first %}

                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; "><!-- need to write condition here --> know more</a>
                                           
                                            <p style="height:12px; width:30px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">For bid</p> 

                                            {% endif %} 

                                        
                                        
                                           <!--  dynamic image img.url -->
                                            <img src="{{item.image}}" alt="" width="224px" height="200px">
                                            <p style="height:6px; width:40px; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;" > <!-- also here  -->{{item.painting}}<span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:175px;"><!-- also here  -->{{item.price}}</span></p>
                                        
                                            <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;"><!-- also here  -->{{item.name}} </p>
                                        </td>
                                    {% if loop.index % 2 == 0 %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table> <br> <hr>
                            </td>
                       </tr> 
                    

                       
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-top:8px;">
                                    {% for item in data.sales.past_sales %}
                                    {% if loop.index % 2 == 1 %} <!-- checks if this row is even or odd, if it is odd it will start new row -->
                                    <tr>
                                    {% endif %}
                                        
                                        <td>
                                            {% if loop.first %}
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold;">Past Sales</p>
                                           
                                            <p style="height:12px; width:21px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">Sold</p>  
                                            {% endif %}


                                            <img src="{{item.image}}" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; "> {{item.painting}} <span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:60px;">{{item.price}}</span></p> 

                                            <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">{{item.name}}</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            {% if loop.first %}
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            
                                            <p style="height:12px; width:45px; font-size:8px; text-align: left; color: #0D2137; background: #D3E6FB 0% 0% no-repeat padding-box; margin:5px;   font-family: 'Inter', sans-serif; font-weight:500;">Withdrawn</p>
                                            {% endif %}

                                            <img src="{{item.image}}" alt="" width="224px" height="200px">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight:500; font-size: 9px;">{{item.painting}}</p>

                                            <p style="height:2px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 600;"> {{item.name}}<span style="color: #0D2137; font-size: 9px; font-family: 'Inter', sans-serif; font-weight:bold; padding-left:57px;">{{item.price}}</span></p>             
                                        </td>
                                    {% if loop.index %2 == 0 %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            


             <!-- Events -->
            

             <tr>
                <td>
                    <table >
                        <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">Events</h5>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-bottom:10px;">
                                    {% for item in data.events.events_near_me %}
                                    {% if loop.index % 2 == 1 %} <!-- checks if this row is even or odd, if it is odd it will start new row -->
                                    <tr>
                                    {% endif%}
                                        <td>
                                            {% if loop.first %}
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold; ">Events near me</p>
                                            {% endif %}
                                           

                                            <img src="{{item.image}}" alt="" width="224px" height="200px"><p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; ">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">{{item.painting}}</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">{{item.date}}</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 500;">{{item.location}}</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            {% if loop.first %}
                                            <a href="#" style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px;   font-family: 'Inter', sans-serif; font-weight:500; font-size: 9px;">know more</a>
                                            {% endif %}
                                            
                                            <img src="{{item.image}}" alt="" width="224px" height="200px" style="padding-top:12px;">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137; padding-top:20px; font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;">{{item.painting}}/p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">{{item.date}}</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-family: 'Inter', sans-serif; font-weight: 500;">{{item.location}}</p> 
                                        
                                        </td>
                                    {% if loop.index %2 ==0 %}
                                        
                                    </tr>
                                    {% endif%}
                                    {% endfor %}
                                
                                </table> <hr>
                            </td>
                       </tr> 


                        
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%" style="padding-top:10px;">
                                    {% for item in data.events.upcoming_events %}
                                    {% if loop.index % 2 == 1 %} <!-- checks if this row is even or odd, if it is odd it will start new row -->
                                    <tr>
                                    {% endif %}
                                        <td>
                                            {% if loop.first %}
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE;  font-family: 'Inter', sans-serif; font-weight: bold;">Upcoming Events</p>
                                             {% endif %}
                                           

                                            <img src="{{item.image}}" alt="" width="224px" height="200px">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px; ">{{item.painting}}</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">{{item.date}}</p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; ">{{item.location}}</p> 
                                        </td>


                                        <td style="padding-left: 35px; padding-top:15px;">
                                            {% if loop.first %}
                                            <a href="#"style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px;  ">know more</a>
                                            {% endif %}
                                            
                                            <img src="{{item.image}}" alt="" width="224px" height="200px" style="padding-top:10px">
                                            <p style="height:6px; width:auto; font-size:12px; text-align: left; color: #0D2137;font-family: 'Inter', sans-serif; font-weight:400; font-size: 9px;  ">{{item.painting}}</p>
                                        
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: bold;">{{item.date}}/p> 
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #0D2137; font-weight: normal;">{{item.location}}</p>   
                                        
                                        </td>

                                    {% if loop.index % 2 == 0 %}      
                                    </tr>
                                    {% endif%}
                                    {% endfor%}
                                </table>
                            </td>
                        </tr>



                    </table>
                </td>
            </tr>




           <!--  News -->

            <tr>
                <td>
                    <table>
                        <h5 style="color: #0D2137; font-size:23px; font-weight: bold; text-align: left; letter-spacing: 0px; width:61px; height:2px; font-family: 'Inter', sans-serif; font-weight: bold;">News</h5>
                        <tr>
                            <td class="two-column">
                                <table class="column" width="100%">
                                    {% for item in data.news.top_news %}
                                    {% if loop.index % 2 == 1 %}
                                    <tr>
                                    {% endif%}
                                        <td>
                                            {% if loop.first %}
                                             <p style="height:12px; width: auto; font-size:12px; text-align: left; color: #A34DDE; font-family: 'Inter', sans-serif; font-weight: bold; ">Top news</p>
                                             {% endif %}
                                       

                                            <img src="{{item.image}}" alt="" width="224px" height="200px">
                                            <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137;text-transform: capitalize; text-align: left; font-family: 'Inter', sans-serif; font-weight: 500;">{{item.news}}</P>
                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color: #346BEB; font-family: 'Inter', sans-serif; font-weight: 600;">{{item.source}}<span style="padding:7px;">|  </span>{{item.location}}</p> 
                                        </td>



                                        <td style="padding-left: 35px; padding-top:15px;">
                                            {% if loop.first %}
                                            <a href="#"style="height:12px; width: auto; font-size:12px; text-align: right; color: #346BEB; padding-left:159px; ">know more</a>
                                            {% endif %}
                                        
                                            <img src="{{item.image}}" alt="" width="224px" height="200px" style="padding-top:7px">
                                            <P style="height: 44px; width:auto; font-size: 11px; color:#0D2137; text-align:left; text-transform: capitalize; font-family: 'Inter', sans-serif; font-weight: 500;">{{item.news}}</P>


                                            <p style="height:10px; width:auto; font-size:9px; text-align: left; color:#346BEB; font-family: 'Inter', sans-serif; font-weight: 600;">{{item.source}}<span style="padding:7px;">|  </span> {{item.location}}</p>            
                                    
                                    
                                        </td>

                                    {% if loop.index % 2 == 0 %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                            
                                </table> 
                            </td>
                        </tr> 



                </table>
            </td>
            </tr>

        </table>


        <div style="padding-top:28px; font-family: 'Inter', sans-serif; font-weight: 600; font-size:10px;">
            <button  >Visit our website</button>

        </div>

       






        
        

    </center>

  


   
<!-- Footer -->
<!-- Footer -->
    <table width="100%" style="max-width: 600px; padding-top: 40px; padding-left: 60px; padding-right: 40px; margin: auto;" class="footer">
        <tr>
            <td style="text-align: left;">
                <p style="color: #0D2137; font-size: 12px; font-weight: bold;">ARTHUR ANALYTICS</p>
                <p style="color: #0D2137; font-size: 10px; font-weight: 400; color: #86909B;">640 5TH AVENUE, 22ND FLOOR, NEW YORK, NY 10019</p>
                <p style="color: #346BEB; font-size: 10px; font-weight: 500;"><a href="#" style="text-decoration: none; color: #346BEB;">Contact Us</a> | <a href="#" style="text-decoration: none; color: #346BEB;">Unsubscribe</a></p>
            </td>
            <td style="text-align: right;">
            
                <td class="logo"> <p><img src="/arthur-email-templates-analytics/src/assets/instagram.jpg" alt="" style="width: 12px; height: 12px;"></p></td>
                <td class="logo"> <p><img src="/arthur-email-templates-analytics/src/assets/linkedin.jpg" alt="" style="width: 12px; height: 12px;"></p></td>
                <td class="logo"> <p><img src="/arthur-email-templates-analytics/src/assets/x.jpg" alt="" style="width: 12px; height: 12px; "></p></td>     
                
            </td>
         </tr>
    </table>



    




    
</body>
</html>